<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
        <title>Clientes CENDE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Administrador CENDE">
        <meta name="author" content="@eduardouio">
        <script src="../vista/js/adminjs/jquery.js"> </script>
        <script src="../vista/js/adminjs/bootstrap.min.js"> </script>    
        <script src="../vista/js/adminjs/bootstrap-alert.js"> </script>
        <script type="text/css">
            $(".alert").alert()
        </script>
        <!-- Le styles -->
        <link href="../vista/css/bootstrap/admin_bootstrap.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="../vista/ico/favicon.ico">
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="adminclicertificados.php">Administrador CENDE</a>
                    <div class="nav-collapse">	
                        <ul class="nav">
                            <li class="0"><a href="adminclicertificados.php">Personas Certificadas</a></li>
                            <li class="active"><a href="adminpersonas.php">Personas</a></li>
                            <li class="0"><a href="admincertificados.php">Tipo Certificados</a></li>
                            <li class="0"><a href="adminusuarios.php">Usuarios</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                    <p><a href="http://cendendt.com/" class="btn btn-large pull-right "> <i class="icon-off icon-black"></i>Salir</a></p>
                </div>		  
            </div>	  
        </div>

        <div class="container">            
            <a href="adminpersonas.php?accion=new&id=0" class="btn pull-right"><i class=" icon-file icon-black"></i>Crear Nuevo Registro</a>
            <h2>Cliente CENDE</h2> 
            <span class="label label-info">Ingrese/Cambie todos los datos solicitados a continuación</span>
            <a class="btn btn-info" href="adminpersonas.php"><i class="icon-ban-circle icon-white"></i>Cancelar = Volver</a>

            <form class="well" name="eliminarcliente" action="adminpersonas.php" method="post">
                <table cellpadding="8" >	
                    <div class="alert alert-info">Aviso: Todos los datos que ingrese serán guardados en mayúsculas sin importar como los digite
                        <button data-dismiss="alert" class="close" type="button">×</button></div>
                    <tr><td>
                            <label>Nombres:</label>							
                            <input type="text" class="span3" placeholder="Nombres" maxlength="50" name="nombres" value="{nombres}" required="required" >
                        </td><td>
                            <label>Apellidos:</label>													
                            <input type="text" class="span3" placeholder="Apellidos" maxlength="50" name="apellidos" value="{apellidos}" required="required" >
                        </td><td>
                            <label>Numero de Cédula:</label>							
                            <input type="text" class="span3" placeholder="Cédula" maxlength="10" name="cedula" value ="{cedula_cliente}" required="required" >
                        </td></tr><tr><td>
                            <label>Profesión:</label>
                            <input type="text" class="span3" placeholder="Profesión" maxlength="50" name="profesion" value="{profesion}" required="required" >
                        </td><td>
                            <label>Empresa:</label>
                            <input type="text" class="span3" placeholder="Empresa" maxlength="50" name="empresa" value="{empresa}" required="required" >
                        </td><td>
                            <label>País:</label>
                            <input type="text" class="span3" placeholder="País" maxlength="50" name="pais" value="{pais}" required="required" >
                            <input type="hidden" class="span3" placeholder="País" maxlength="20" name="t_accion" value="{t_accion}">
                        </td></tr><tr><td colspan="3">
                            <label>Notas:</label>
                            <textarea class="input-xlarge" id="textarea" rows="4" placeholder="Notas Importantes de este Cliente" name="notas">{notas}</textarea>
                        </td><td>
                            <button type="submit" class="btn btn-primary pull-right"><i class="icon-folder-close icon-white"></i>Guardar</button>
                        </td></tr>
            </form>
        </table>

        <footer>
            &copy; Todos los derechos reservados - Cende NDT - 2012 - Desarrollado por ev_villota@hotmail.com
        </footer>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
    -->

</body>
</html>